:root {
  --black: black;
  --light-blue: #00d5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
}
.bi-chevron-left,
.bi-chevron-right {
  cursor: pointer;
}
.bi-chevron-left:hover,
.bi-chevron-right:hover {
  color: #949494;
  transition: all 0.5s ease-out;
}
.btn-box button {
  border: 1px solid var(--light-blue);
}
.physical-btn {
  background-color: #000000;
  color: var(--light-blue);
  border-radius: 5px 0 0 5px;
}
.digital-btn {
  background-color: var(--light-blue);
  color: #000000;
  border-radius: 0 5px 5px 0;
}

.clothing-accessories-box h1,
.action-figures-box h1 {
  color: #e6e6e6;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.action-figures-box p {
  color: #e6e6e6;
  font-family: inherit;
  font-size: 0.9rem;
  text-align: center;
  line-height: 2rem;
}
.look-all-btn {
  background-color: #000000;
  border: 1px solid var(--light-blue);
  color: #e6e6e6;
  padding: 0.2em 0.5em;
  font-size: 0.9rem;
}

.footer-box {
  color: #ffffff;
}
.footer-box h1 {
  color: var(--light-blue);
  font-size: 5em;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .bi-chevron-left,
  .bi-chevron-right {
    width: 3em;
    height: 3em;
  }
  .clothing-accessories-box h1,
  .action-figures-box h1 {
    font-size: 1.6rem;
  }
  .look-all-btn {
    padding: 0.1em 0.4em;
    font-size: 1.1rem;
  }
  .footer-box h1 {
    font-size: 4.5rem;
  }
  .footer-box span {
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .bi-chevron-left,
  .bi-chevron-right {
    width: 1.9em;
    height: 1.9em;
  }
  .clothing-accessories-box h1,
  .action-figures-box h1 {
    font-size: 1rem;
  }
  .action-figures-box p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .footer-box h1 {
    font-size: 3rem;
  }
  .footer-box span {
    font-size: 1rem;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .bi-chevron-left,
  .bi-chevron-right {
    width: 1em;
    height: 1em;
  }
  .btn-box button {
    border: 0.5px solid var(--light-blue);
    font-size: 0.5rem;
  }
  .physical-btn {
    border-radius: 1px 0 0 1px;
  }
  .digital-btn {
    border-radius: 0 1px 1px 0;
  }
  .clothing-accessories-box h1,
  .action-figures-box h1 {
    font-size: 0.5rem;
  }
  .action-figures-box p {
    font-size: 0.3rem;
    line-height: 0.6rem;
  }
  .look-all-btn {
    padding: 0.1em 0.4em;
    font-size: 0.4rem;
  }
  .footer-box h1 {
    font-size: 1.5rem;
  }
  .footer-box span {
    font-size: 0.5rem;
  }
}
