:root {
  --black: black;
  --light-blue: #00d5ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
}
.bi-chevron-left,
.bi-chevron-right {
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.bi-chevron-left:hover,
.bi-chevron-right:hover {
  color: #949494;
  transition: all 0.5s ease-out;
}
/* .circle-box{
  position: absolute;
  left: 47%;
  bottom: 17%;
} */

.off-circle {
  width: 0.6875em;
  height: 0.6875em;
  background-color: #0a0611;
  border-radius: 50%;
  margin: 0 0.2em;
  border: 1px solid var(--light-blue);
  cursor: pointer;
}
.on-circle {
  background-color: var(--light-blue);
}
.btn-box button {
  border: 2px solid var(--light-blue);
}
.physical-btn {
  background-color: #000000;
  color: var(--light-blue);
  border-radius: 5px 0 0 5px;
}
.digital-btn {
  background-color: var(--light-blue);
  color: #000000;
  border-radius: 0 5px 5px 0;
}
.clothing-accessories-box h1,
.action-figures-box h1 {
  color: #e6e6e6;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.action-figures-box p {
  color: #e6e6e6;
  font-family: inherit;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 2rem;
}
.look-all-btn {
  background-color: #000000;
  border: 1px solid var(--light-blue);
  color: #e6e6e6;
  padding: 0.2em 0.5em;
  font-size: 0.9rem;
}

.footer-box {
  background-color: #0f0f0f;
  color: #ffffff;
}
.footer-box h1 {
  color: var(--light-blue);
  font-size: 5em;
}
